.product-row{
    display: flex;
    flex-direction: column;
    max-width: 1120px; /* Set max width if needed to limit container */
    justify-content: center; /* Center-align items */
    width: 100%; /* Ensure container takes full width */
    margin: 0 auto; /* Center the container */
}
.limited-products {
    display: flex; /* Or use display: grid if preferred */
    flex-wrap: wrap;
    gap: 14px; /* Adjust gap as needed */
    padding-bottom: 28px;
  }
  
  .limited-products-heading {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 18px;
    color: #408ea3;
  }