/* Main styling for the product card */
.product-card {
  width: 126px;
  height: auto;
  border: none;
  border-radius: 0;
  margin: 0;
  box-sizing: border-box; 
}

.product-card a {
  text-decoration: none;
  color: inherit;
}


/* Image styling for the top of the card */
.card-product-image {
  width: 126px;
  height: 126px;
  object-fit: cover;
  border-radius: 4px;
}

/* Container for product info */
.card-product-info {
  text-align: left;
  padding: 9px 0;
}

/* Product name styling */
.card-product-name {
  font-size: 11px;
  font-weight: bold;
  color: #333;
  margin: 4px 0;
}

.card-product-artist,
.card-product-price {
  font-size: 11px;
  color: #333;
  margin: 4px 0;
}

/* Created time styling */
.card-product-created-time {
  font-size: 11px;
  color: #999;
  margin: 4px 0;
}
