.footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 18px;
}

.footer-content {
    width: 1576px;
    padding: 22px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    justify-content: right;
}

.link {
    margin-right: 20px;
}

.social-medias {
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding: 20px;
    box-sizing: border-box;
}

.socials {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.github-icon {
    filter: invert(1)
}
